
.foo { background-color: #ffffff; }
.foo0 { background-color: #fff5f5; }
.foo1 { background-color: #ffbfbf; }
.foo2 { background-color: #ffa0a0; }
.foo3 { background-color: #ff8585; }
.foo4 { background-color: #ff1b1b; color: #ffffff; }

