
.warning { background-color: #ffffff; }
.warning0 { background-color: #fff5f5; }
.warning1 { background-color: #ffe5e5; }
.warning2 { background-color: #ffd5d5; }
.warning3 { background-color: #ffc5c5; }
.warning4 { background-color: #ffb5b5; }
.warning5 { background-color: #ffa5a5; }
.warning6 { background-color: #ff9595; }
.warning7 { background-color: #ff8585; }
.warning8 { background-color: #ff7575; }
.warning9 { background-color: #ff6565; }
.warning10 { background-color: #ff5555; }
.warning11 { background-color: #ff4545; }
.warning12 { background-color: #ff3535; }
.warning13 { background-color: #ff2525;}
.warning14 { background-color: #ff1515;}
.warning15 { background-color: #ff0505;}

.timer {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2.0em;
  color: black;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  height: 42px;
}

.btn-default {
  height: 42px;
}

